*.egg
*.egg-info
*.pyc
__pycache__/
*$py.class
*.pt.py
*.txt.py
*~
.*.swp
*.fs
*.fs.*
blobdir
.project
.pydevproject
*.log
.coverage
.tox/
nosetests.xml
coverage.xml
tutorial.db
build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
venv/
.settings/
.metadata
.metadata/.plugins
error.log*
migrations/*
*.json
uploads/
celerybeat-schedule
*.pem
